// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.reports {
	tr :nth-child(1) {
		width: 60px;
	}
	tr :nth-child(2) {
		width: 15em;
	}
	tr :nth-child(3) {
		width: 4em;
	}
	tr :nth-child(4) {
		text-align: right;
		width: 5em;
	}
	tr :nth-child(5) {
		width: 30em;
	}
	tr :nth-child(6) {
		width: 30em;
	}
}
