// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.reports {
	tr {
		td.server {
			width: 150px;
		}
		td.datetime {
			width: 130px;
		}
		td.branch {
			text-align: center;
			width: 70px;
		}
		td.revision {
			text-align: right;
			width: 30px;
		}
		@for $i from 5 through 9 {
			td:nth-child(#{$i}) {
				background-color: #f77;
				width: 40px;
			}
			td:nth-child(#{$i}):empty {
				background-color: #7f7;
			}
		}
		td.summary {
			background-color: #7f7;
			div {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				width: 250px;
			}
		}
		td.summary.failure {
			background-color: #f77;
		}
		td.diff {
			background-color: #fff;
			div {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				width: 100px;
			}
		}
	}
}
